<h3>Get a pricer for your vehicle insurance</h3>
<form [formGroup]="driverForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label for="driver-Id">Driver Id</mat-label>
    <input matInput id="driver-Id" type="text" formControlName="driverId">
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label for="years-of-experience">Years of experience</mat-label>
    <input matInput id="years-of-experience" type="number" formControlName="yearsOfExperience">
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label for="driver-licence-points">Licence points</mat-label>
    <input matInput id="driver-licence-points" type="number" formControlName="driverLicencePoints">
  </mat-form-field>
  <br />
  <button type="submit" mat-stroked-button>Get offer</button>
</form>
@if(offer) {
  <br />
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Here is your offer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p> Client Id: {{ offer.clientId }}</p>
      <p> Expedition Date: {{ offer.expeditionDate | date }}</p>
      <p> Expiration Date: {{ offer.expirationDate | date }}</p>
      <p> Base Price: {{ offer.basePrice | currency }}</p>
      <p> Discount: {{ offer.discount }}%</p>
      <p> Final Price: {{ offer.finalPrice | currency }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="clearOffer()">Clear</button>
    </mat-card-actions>
  </mat-card>
}
